<div class="blog-post">
  <%= link_to blog_post.title, "/blog/#{blog_post.id}", class: 'item-title' %>
  <p><%= blog_post.ingress %></p>
  <div class="inline-time">
    <%= time_ago_in_words blog_post.updated_at %>
  </div>
</div>
