<% provide(:title, @blog_post.title) %>

  <style><%= ::Rouge::Themes::Molokai.render(scope: '.highlight') %></style>

<div class="container">
  <h1><%= @blog_post.title %></h1>

  <%= @blog_post.body_as_html %>
</div>
