// Place all the styles related to the BlogPosts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, form, body, #editor {
  height: 100%;
}

#title {
  width: 100%;
  margin-bottom: 0;
  font-size:xx-large;
}

textarea, #editor div {
  height: 100%;
  display: inline-block;
  width: 49%;
  vertical-align: top;
  box-sizing: border-box;
  padding: 0 20px;
}

textarea {
  border: none;
  border-right: 1px solid #ccc;
  resize: none;
  outline: none;
  background-color: #f6f6f6;
  font-size: 14px;
  font-family: 'Monaco', courier, monospace;
  padding: 20px;
}

.blog-post {
  margin: 20px;
  padding: 10px;
  border-style: solid;
  border-width: 1px;
}

.item-title {
  font-size: x-large;
}

a.action {
  font-size: large;
}

.action-bar {
  padding: 10px;
  position: sticky;
  bottom: 0;
}
